
@{
    ViewBag.Title = "ContactSub";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submitted!</title>
</head>
<body>

    <h1>Thank you for contacting us!</h1>
    <p>Your request has been successfully submitted</p>
    <p>We will get back to you as soon as posible.</p>

    <div>
        @Html.ActionLink("Back to Home Page", "Index")
    </div>
</body>
</html>
